@font-face {
  font-family: Raleway;
  src: url(../public/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Raleway;
  background-color: white;
}